@import 'var';

#{component(icon)} {
  width: 1em;
  height: 1em;
  vertical-align: -0.1em;
  fill: currentColor;
  overflow: hidden;
  &-spin {
    @include spin;
  }
  &-background {
    width: .6rem;
    line-height:.6rem;
    background: #dde;
    border-radius: 50%;
    text-align: center;
  }
}