@import 'var';
#{componentWithout('recorder')} {
  &-calculate-date {
    &-content {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 999;
      background: #f2f2f2;
      border-top: 1px solid #eee;
    }
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #f2f2f2;
      padding: 0 .2rem;
      text-align: left;
      .left {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        label {
          flex: 0 0 18%;
          width: 18%;
        }
        .m-component-input-wrapper{
          flex: 1;
          width: 100%;
        }
        input {
          border: none;
          outline: none;
          border-radius: 0;
          background: #f2f2f2;
          width: 100%;
          &:focus{
            border: none;
            box-shadow: none;
          }
        }
      }
      .right {
        flex: 0 0 1.8rem;
        width: 1.8rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        label {margin-left: .08rem;}
      }
    }
  }
}