@import 'var';

#{componentWithout(cost-item)} {
  &-top {
    font-size: .24rem;
    color: #999;
    padding: .14rem .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }

  &-body {
    padding-left: .2rem;
  }
  &-record {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & + .m-cost-item-record {
      #{componentWithout(cost-item)} {
        &-record-right {
          border-top: 1px solid #ddd;
        }
      }
    }
  }
  &-record-left {
    flex: 0 0 10%;
  }
  &-record-right {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .26rem;
    padding: .24rem .2rem .24rem 0;
  }

}